.layui-input-block button{
    border: 1px solid rgba(0,0,0,0.1);
}
.layui-card-body{
    padding-left: 10px;
    padding-right: 10px;
}
.layui-card-body p.layuiadmin-big-font {
    font-size: 36px;
    color: #666;
    line-height: 36px;
    padding: 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.layuiadmin-badge, .layuiadmin-btn-group, .layuiadmin-span-color {
    position: absolute;
    right: 15px;
}
.layuiadmin-badge {
    top: 50%;
    margin-top: -9px;
    color: #01AAED;
}
.layuiadmin-span-color i {
    padding-left: 5px;
}
.block-rigit{
    text-align: right;
}
.block-rigit button{
    width: 100px;
    letter-spacing: .5em;
    line-height: 28px;
}
.layuiadmin-card-list p.layuiadmin-normal-font {
    padding-bottom: 10px;
    font-size: 20px;
    color: #666;
    line-height: 24px;
}